@{
    ViewData["Title"] = "Blog Page";
}
<div id="contentBlog" class="blogPage">
    <div class="archive-page-header">
        <div class="row">
            <div class="text-center col-lg-3">
                <h1 class="page-title is-large uppercase">
                    Category Archives: Blog
                </h1>
            </div>
        </div>
    </div>
    <div class="row row-large row-divided blog-content">
        <div class="col-lg-9 col">
            <div class="row large-columns-1 medium-columns- small-columns-1">
                <div class="col post-item">
                    <div class="col-inner">
                        <a href="https://lipstick.vn/bang-mau-son-black-rouge/" class="plain">
                            <div class="box-image">
                                <img src="https://lipstick.vn/wp-content/uploads/2022/10/bang-mau-son-black-rouge-300x300.jpeg" alt="ImageProd" class="" />
                            </div>
                            <div class="box-text text-left">
                                <h5 class="post-title is-large ">Bảng Màu Son Black Rouge Mới Nhất 2022 – 2023</h5>
                                <div class="is-divider"></div>
                                <p class="from_the_blog_excerpt ">Bảng Màu Son Black Rouge Mới Nhất, Hot Nhất, Đầy Đủ Nhất 2022 – 2023 [...] </p>
                            </div>
                            <div class="badge absolute top post-date badge-outline">
                                <div class="badge-inner">
                                    <span class="post-date-day text-16">22</span>
                                    <br/>
                                    <span class="post-date-month text-11">Th10</span>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-3 col">
            <div id="secondary" class="widget-area">
                <aside id="categories-3" class="widget widget_categories">
                    <span class="widget-title">Chuyên mục</span>
                    <div class="is-divider small"></div>
                    <form>
                        <select name="cat" id="cat" class="postform">
                            <option class="level-0">Blog  (84)</option>
                        </select>
                    </form>
                </aside>
                <aside id="categories-2" class="widget widget_recent_entries">
                    <span class="widget-title ">Bài viết mới</span>
                    <div class="is-divider small"></div>
                    <ul>
                        <li>
                            <a href="">Review Son MAC 553 I Deserve This – Sắc màu độc đáo và cuốn hút</a>
                        </li>
                        <li>
                            <a href="">Review Son MAC 552 TNTeaser – Sắc màu đầy sức hút</a>
                        </li>
                        <li>
                            <a href="">Review Son MAC 551 Local Celeb – Sắc màu nóng bỏng và cá tính</a>
                        </li>
                    </ul>
                </aside>
                <aside class="widget widget_text">
                    <span class="widget-title ">
                        Giá Son Môi
                    </span>
                    <div class="is-divider small"></div>
                    <div class="textwidget">
                        <p>
                            <a href="https://lipstick.vn/7-thuong-hieu-son-tam-gia-900-nghin-sang-xin-duoc-con-gai-viet-mua/"> Giá hãng son tầm 900k</a>
                        </p>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
