<div class="homeBanner">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="banner bannerOne ">
                    <div class="effect-snow"></div>
                    <div class="bannerIntro">
                        <h3 class="text-color-white text-32 font-italic mb-2">Lipstick.vn Chuyên phân phối...</h3>
                        <div class="is-diliver"></div>
                        <p class="text-color-white font-italic text-24 mb-1">Son môi cao cấp</p>
                        <p class="text-color-white font-italic text-24 mb-1">PHÁP, NHẬT, MỸ...</p>
                        <div class="is-diliver"></div>
                        <div class="d-flex">
                            <button class="button-white-border font-blod text-16">TOM FORD</button>
                            <button class="button-white-border ms-2 me-2 font-blod text-16">CHANEL</button>
                            <button class="button-white-border font-blod text-16">LOUBOUTIN</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="banner bannerTwo ">
                    <div class="effect-sparkle"></div>
                    <div class="bannerIntro">
                        <h3 class="text-color-white text-32 font-italic mb-2">Son môi cao cấp...</h3>
                        <div class="is-diliver"></div>
                        <p class="text-color-white font-italic text-24 mb-1">CHÍNH HÃNG</p>
                        <p class="text-color-white font-italic text-24 mb-1">Tom Ford, Louboutin, Chanel..</p>
                        <div class="is-diliver"></div>
                        <button class="button-white-border font-blod text-16">MUA NGÂY</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="categorySuggestion mt-3 mb-3">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-6">
                        <div class="suggestion suggestionOne">
                            <div>
                                <p class="text-center mb-1 text-color-red text-12 font-blod font-weight-700">THE LIMITED</p>
                                <p class="text-center mb-1 text-color-red text-24 font-blod font-weight-700">LIPSTICK</p>
                                <p class="text-center mb-1 text-color-red text-16 font-blod text-decoration-underline font-weight-700">XEM NGÂY</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="suggestion suggestionTwo">
                            <div class="d-flex flex-column">
                                <div class="button-pink mb-2 font-blod text-16">SON DƯỠNG</div>
                                <div class="button-red font-blod text-16">MUA NGÂY</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="suggestion suggestionThree">
                    <div>
                        <span class="text-color-pink mx-3 my-3 text-20 font-italic">BỘ TRANG ĐIỂM HOT NHẤT 2024</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>