@{
    ViewData["Title"] = "About Us Page";
}
<div class="aboutUsPage my-4">
    <h1 class="text-center font-weight-600 text-uppercase">@_language.Getkey("aboutUs")</h1>
    <span class="text-color-pink">hard code</span>
    <div class="col-inner">
        <h2><strong>Giới thiệu về LOTTESHOP</strong></h2>
        <p>LOTTESHOP ., JSC tên đầy đủ là Công ty cổ phần Thương Mại và Dịch Vụ LotteShop,được Sở Kế Hoạch Đầu Tư Tp.Hà Nội cấp ngày 24/03/2015 theo giấy phép kinh doanh số: 0106800912, có trụ sở chính tại&nbsp;115 Bùi Thị Xuân, Hai Bà Trưng, Hà Nội.</p>
        <p><strong>Sứ mệnh</strong></p>
        <p><strong>“Đem đến cho khách hàng những sản phẩm tốt nhất”</strong> từ những thương hiệu danh tiếng trên thế giới.Ngoài ra LotteShop mang đến cho khách hàng các sản phẩm đảm bảo uy tín chất lượng, giá cả tốt nhất cùng với dịch vụ chuyên nghiệp, tận tình thân thiện nhất. Nhằm đem lại cho khách hàng&nbsp;những giá trị cũng như trải nghiệm tuyệt vời về vẻ đẹp từ các sản phẩm authentics mà công ty cung cấp.</p>
        <p><strong>Tầm nhìn</strong></p>
        <p>Trong tương lai, với sự nỗ lực của chúng tôi, <strong>LOTTESHOP</strong> trở thành nhà phân phối<strong> mỹ phẩm&nbsp;chính hãng cao cấp và uy tín hàng đầu tại Việt Nam.</strong></p>
        <p><strong>Chúng tôi đem đến những gì khi bạn đến với LotteShop?</strong></p>
        <p><strong>Sản phẩm cao cấp chính hãng, uy tín với giá cả tốt nhất</strong></p>
        <p>Công ty chuyên cung cấp tới khách hàng những dòng son môi cao cấp của các thương hiệu danh tiếng đến từ Pháp, Anh, Mỹ, Nhật….</p>
        <p>Sản phẩm được nhập hàng trực tiếp từ hãng có hóa đơn&nbsp;và nhãn mác đầy đủ, các sản phẩm sau khi nhập về đều được dán tem của công ty để đảm bào đầy đủ quyền lợi cho khách hàng.</p>
        <p>Công ty cam kết hoàn tiền và bồi thường nếu khách hàng phát hiện hàng giả, hàng nhái và hàng kém chất lượng.</p>
        <p><strong>Hệ thống website bán hàng được đầu tư xây dựng hiện đại, chuyên nghiệp</strong></p>
        <p>Bên cạnh shop bán hàng tại Store, công ty chúng tôi còn xây dựng hệ thống website sản phẩm với tiêu chí hiện đại, chuyên nghiệp, thẩm mỹ nhưng dễ dàng sử dụng mang đến cho khách hàng cái nhìn tổng quan nhất về sản phẩm, dễ dàng lựa chọn kể cả khi không nhìn thấy trực tiếp.</p>
        <p>Trong đó, <a href="https://lipstick.vn" target="_blank" rel="noopener noreferrer">LIPSTICK.VN</a> là một trong những website nằm trong hệ thống của LotteShop chuyên phân phối son môi cao cấp từ các quốc gia: Pháp, Mỹ, Anh, Nhật…cùng với các thương hiệu lớn nổi tiếng như: Louboutin,Tom Ford, YSL, Chanel, Dior, Shu Uemura.</p>
        <p><strong>Đội ngũ tư vấn viên, nhân viên bán hàng tận tình chuyên nghiệp</strong></p>
        <p>Đến với hệ thống website cũng như shop của công ty, bạn sẽ luôn có đội ngũ tư vấn, bán hàng chuyên nghiệp, thân thiện tận tình tư vấn, giải đáp các thắc mắc của bạn cho bạn lựa chọn sản phẩm một các nhanh chóng và ưng ý nhất.</p>
        <p>Khi mua hàng, khách hàng có thể đặt hàng online, gọi điện trực tiếp đặt hàng hoặc đặt hàng thông qua tư vấn viên. Chúng tôi sẽ giao sản phẩm tận tay khách hàng trong thời gian nhanh nhất.</p>
        <p><strong>Một số sản phẩm mà Lipstick&nbsp;cung cấp</strong></p>
        <p>Lipstick&nbsp;mang đến cho bạn nhiều sự lựa chọn hoàn hảo từ những dòng son môi nổi tiếng trên thế giới:</p>
        <p>Louboutin, Tom Ford, YSL, Dior, Chanel, Shu Uemura….</p>
        <p>Đến với LotteShop bạn sẽ không bao giờ thất vọng về chất lượng sản phẩm và dịch vụ. Chúng tôi luôn cố gắng đem đến những sản phẩm đa dạng, chọn lọc kỹ lưỡng để khách hàng&nbsp;luôn tìm được sản phẩm phù hợp, hoàn thiện đẳng cấp phong cách thời trang, gu&nbsp;thẩm mỹ của mình.</p>
        <p>Hãy liên hệ ngay với chúng tôi <a href="https://lipstick.vn/lien-he" target="_blank" rel="noopener noreferrer">tại đây</a> để nhận được những ưu đãi cũng như trải nghiệm về dịch vụ tốt nhất!</p>
    </div>
</div>