@import "root.scss";
@import "general.scss";
@import "layout.scss";
@import "home.scss";
@import "product.scss";
@import "productDetails.scss";
@import "cart.scss";
@import "payment.scss";
@import "aboutUs.scss";
@import "contact.scss";
@import "notFound.scss";